@font-face {
  font-family: "FjallaOne";
  src: local("FjallaOne"),
    url("./assets/FjallaOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "FjallaOne" !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

